/.cache
/dist
/.vscode
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dce-output/

# Parcel
/.parcel-cache/

# GraphQL
/src/Api/

# Tailwind
/dev/styles.css
/src/Tailwind.purs
