/.cache
/dist
/.vscode
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago

# GraphQL
/src/Api

# Tailwind
/dev/styles.css
/src/Tailwind.purs
